.col-xsm-1{
    width:44px;
}

.col-xsm-2{
    width:88px;
}

.col-xsm-3{
    width:132px;
}

.col-xsm-4{
    width:176px;
}
.col-xsm-5{
    width:220px;
}
.col-xsm-6{
    width:264px;
}

.col-xsm-7{
    width:308px;
}

.col-xsm-8{
    width:352;
}

.col-xsm-9{
    width:396px;
}

.col-xsm-10{
    width:440px;
}

.col-xsm-11{
    width:484px;
}
.col-xsm-12{
    width:524px;
}